@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    text-decoration: none
}

.a {
    color: black;
}

.body {
    animation: abrindo 1s linear;
}

@keyframes abrindo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.a {
    color: black;
}

.teto {
    position: fixed;
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.subir {
    animation: sobe 1s forwards;
}

@keyframes sobe {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: -100px;
    }
}

.descer {
    animation: desce 1s forwards;
}

@keyframes desce {
    0% {
        margin-top: -100px;
    }

    100% {
        margin-top: 0px;
    }
}

.flecha {
    position: absolute;
    width: 3%;
    margin-left: 48.5%;
}

.gira1 {
    animation: giraa 1s forwards;
}

@keyframes giraa {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 180deg;
    }
}

.gira2 {
    animation: girab 1s forwards;
}

@keyframes girab {
    0% {
        rotate: 180deg;
    }

    100% {
        rotate: 0deg;
    }
}

.globao {
    width: 20px;

}

.escrita1 {
    font-size: 15px;
    font-weight: bold;
}

.invisivel {
    width: 30%;
    height: 100%;
}

.escrita2 {
    font-size: 15px;
    font-weight: bold;
}

.escrita3 {
    font-size: 15px;
    font-weight: bold;
}

.escrita4 {
    width: 0px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tetao {
    width: 30%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.usuarioo {
    width: 80px;
}

.escritas {
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-around;
    
}

.texto {
    width: 410px;
    height: 50px;
}

button {
    width: 350px;
    height: 60px;
    font-size: 12px;
    justify-items: center;
    align-items: center;
    border-radius: 30px;
    background-color: #CFE15D;
    font-weight: bold;
    font-size: 20px;
}

button:hover {
    background-color: #c2d357;
    cursor: pointer;
}

.botao {
    margin-top: 20px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.final {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.registre {
    text-decoration: underline;
    font-size: 14px;
}

.Email {
    border-top: 0cm;
    border-left: 0cm;
    border-right: 0cm;
    font-weight: 500;
}

.Email:focus {
    border-top: 0cm;
    border-left: 0cm;
    border-right: 0cm;
    box-shadow: 0 0 0 0;
    outline: none;
}

.Senha {
    border-top: 0cm;
    border-left: 0cm;
    border-right: 0cm;
    font-weight: 500;
}

.Senha:focus {
    border-top: 0cm;
    border-left: 0cm;
    border-right: 0cm;
    box-shadow: 0 0 0 0;
    outline: none;
}